.icon {
    display: inline-block;
    mask-size: cover;
    vertical-align: top;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: currentColor;
    cursor: pointer;

    &--sm {
        width: 16px;
        height: 16px;
    }

    &--md {
        width: 24px;
        height: 24px;
    }

    &--lg {
        width: 32px;
        height: 32px;
    }

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.icon-add-image {
    mask-image: url('../../../public/icons/add-image.svg');
}

.icon-add-list {
    mask-image: url('../../../public/icons/add-list.svg');
}

.icon-add-photo {
    mask-image: url('../../../public/icons/add-photo.svg');
}

.icon-add-uder {
    mask-image: url('../../../public/icons/add-uder.svg');
}

.icon-arrow-chevron-down {
    mask-image: url('../../../public/icons/arrow-chevron-down.svg');
}

.icon-arrow-chevron-left {
    mask-image: url('../../../public/icons/arrow-chevron-left.svg');
}

.icon-arrow-chevron-right {
    mask-image: url('../../../public/icons/arrow-chevron-right.svg');
}

.icon-arrow-chevron-up {
    mask-image: url('../../../public/icons/arrow-chevron-up.svg');
}

.icon-arrow-reverse {
    mask-image: url('../../../public/icons/arrow-reverse.svg');
}

.icon-arrow-to-down-bold {
    mask-image: url('../../../public/icons/arrow-to-down-bold.svg');
}

.icon-arrow-to-left-bold {
    mask-image: url('../../../public/icons/arrow-to-left-bold.svg');
}

.icon-arrow-to-right-bold {
    mask-image: url('../../../public/icons/arrow-to-right-bold.svg');
}

.icon-arrow-to-top-bold {
    mask-image: url('../../../public/icons/arrow-to-top-bold.svg');
}

.icon-attachment {
    mask-image: url('../../../public/icons/attachment.svg');
}

.icon-check-circle-fill {
    mask-image: url('../../../public/icons/check-circle-fill.svg');
}

.icon-check-circle-outline {
    mask-image: url('../../../public/icons/check-circle-outline.svg');
}

.icon-check {
    mask-image: url('../../../public/icons/check.svg');
}

.icon-close-bold {
    mask-image: url('../../../public/icons/close-bold.svg');
}

.icon-close-circle-fill {
    mask-image: url('../../../public/icons/close-circle-fill.svg');
}

.icon-close-circle {
    mask-image: url('../../../public/icons/close-circle.svg');
}

.icon-close {
    mask-image: url('../../../public/icons/close.svg');
}

.icon-copy {
    mask-image: url('../../../public/icons/copy.svg');
}

.icon-desktop {
    mask-image: url('../../../public/icons/desktop.svg');
}

.icon-dots {
    mask-image: url('../../../public/icons/dots.svg');
}

.icon-edit {
    mask-image: url('../../../public/icons/edit.svg');
}

.icon-email-success {
    mask-image: url('../../../public/icons/email-success.svg');
}

.icon-email {
    mask-image: url('../../../public/icons/email.svg');
}

.icon-eye-closed-filled {
    mask-image: url('../../../public/icons/eye-closed-filled.svg');
}

.icon-eye-closed {
    mask-image: url('../../../public/icons/eye-closed.svg');
}

.icon-eye-open-filled {
    mask-image: url('../../../public/icons/eye-open-filled.svg');
}

.icon-eye-open {
    mask-image: url('../../../public/icons/eye-open.svg');
}

.icon-food {
    mask-image: url('../../../public/icons/food.svg');
}

.icon-history {
    mask-image: url('../../../public/icons/history.svg');
}

.icon-home {
    mask-image: url('../../../public/icons/home.svg');
}

.icon-image {
    mask-image: url('../../../public/icons/image.svg');
}

.icon-info-filled {
    mask-image: url('../../../public/icons/info-filled.svg');
}

.icon-info {
    mask-image: url('../../../public/icons/info.svg');
}

.icon-key {
    mask-image: url('../../../public/icons/key.svg');
}

.icon-lock {
    mask-image: url('../../../public/icons/lock.svg');
}

.icon-logout {
    mask-image: url('../../../public/icons/logout.svg');
}

.icon-minus {
    mask-image: url('../../../public/icons/minus.svg');
}

.icon-notification-new {
    mask-image: url('../../../public/icons/notification-new.svg');
}

.icon-notification {
    mask-image: url('../../../public/icons/notification.svg');
}

.icon-phone {
    mask-image: url('../../../public/icons/phone.svg');
}

.icon-pin {
    mask-image: url('../../../public/icons/pin.svg');
}

.icon-plus {
    mask-image: url('../../../public/icons/plus.svg');
}

.icon-search {
    mask-image: url('../../../public/icons/search.svg');
}

.icon-selector-down {
    mask-image: url('../../../public/icons/selector-down.svg');
}

.icon-selector-up {
    mask-image: url('../../../public/icons/selector-up.svg');
}

.icon-settings {
    mask-image: url('../../../public/icons/settings.svg');
}

.icon-share {
    mask-image: url('../../../public/icons/share.svg');
}

.icon-sort-asc {
    mask-image: url('../../../public/icons/sort-asc.svg');
}

.icon-sort-desc {
    mask-image: url('../../../public/icons/sort-desc.svg');
}

.icon-tablet {
    mask-image: url('../../../public/icons/tablet.svg');
}

.icon-trash-filled {
    mask-image: url('../../../public/icons/trash-filled.svg');
}

.icon-trash {
    mask-image: url('../../../public/icons/trash.svg');
}

.icon-unlink {
    mask-image: url('../../../public/icons/unlink.svg');
}

.icon-upload-picture {
    mask-image: url('../../../public/icons/upload-picture.svg');
}

.icon-user-check {
    mask-image: url('../../../public/icons/user-check.svg');
}

.icon-user-follow {
    mask-image: url('../../../public/icons/user-follow.svg');
}

.icon-user {
    mask-image: url('../../../public/icons/user.svg');
}

.icon-warning-circle-filled {
    mask-image: url('../../../public/icons/warning-circle-filled.svg');
}

.icon-warning-circle {
    mask-image: url('../../../public/icons/warning-circle.svg');
}

.icon-warning-hex-filled {
    mask-image: url('../../../public/icons/warning-hex-filled.svg');
}

.icon-warning-hex {
    mask-image: url('../../../public/icons/warning-hex.svg');
}

.icon-warning-triangle-filled {
    mask-image: url('../../../public/icons/warning-triangle-filled.svg');
}

.icon-warning-triangle {
    mask-image: url('../../../public/icons/warning-triangle.svg');
}

.icon-dish-plate {
    mask-image: url('../../../public/icons/dish-plate.svg');
    -webkit-mask-image: url('../../../public/icons/dish-plate.svg');
}

.icon-food-bread-svgrepo-com {
    mask-image: url('../../../public/icons/food-bread-svgrepo-com.svg');
    -webkit-mask-image: url('../../../public/icons/food-bread-svgrepo-com.svg');
}

.icon-food-cheese-svgrepo-com {
    mask-image: url('../../../public/icons/food-cheese-svgrepo-com.svg');
    -webkit-mask-image: url('../../../public/icons/food-cheese-svgrepo-com.svg');
}

.icon-food-dinner-fork-spoon-knife-svgrepo-com {
    mask-image: url('../../../public/icons/food-dinner-fork-spoon-knife-svgrepo-com.svg');
    -webkit-mask-image: url('../../../public/icons/food-dinner-fork-spoon-knife-svgrepo-com.svg');
}

.icon-food-dish-hand-serve {
    mask-image: url('../../../public/icons/food-dish-hand-serve.svg');
    -webkit-mask-image: url('../../../public/icons/food-dish-hand-serve.svg');
}

.icon-food-dish {
    mask-image: url('../../../public/icons/food-dish.svg');
    -webkit-mask-image: url('../../../public/icons/food-dish.svg');
}

.icon-food-fried-egg {
    mask-image: url('../../../public/icons/food-fried-egg.svg');
    -webkit-mask-image: url('../../../public/icons/food-fried-egg.svg');
}

.icon-food-hamburger {
    mask-image: url('../../../public/icons/food-hamburger.svg');
    -webkit-mask-image: url('../../../public/icons/food-hamburger.svg');
}

.icon-food-hot-dog {
    mask-image: url('../../../public/icons/food-hot-dog.svg');
    -webkit-mask-image: url('../../../public/icons/food-hot-dog.svg');
}

.icon-food-knife-and-fork {
    mask-image: url('../../../public/icons/food-knife-and-fork.svg');
    -webkit-mask-image: url('../../../public/icons/food-knife-and-fork.svg');
}

.icon-food-meat-beef-stake-svgrepo-com {
    mask-image: url('../../../public/icons/food-meat-beef-stake-svgrepo-com.svg');
    -webkit-mask-image: url('../../../public/icons/food-meat-beef-stake-svgrepo-com.svg');
}

.icon-food-meat-chicken-svgrepo-com {
    mask-image: url('../../../public/icons/food-meat-chicken-svgrepo-com.svg');
    -webkit-mask-image: url('../../../public/icons/food-meat-chicken-svgrepo-com.svg');
}

.icon-food-pizza-slice-svgrepo-com {
    mask-image: url('../../../public/icons/food-pizza-slice-svgrepo-com.svg');
    -webkit-mask-image: url('../../../public/icons/food-pizza-slice-svgrepo-com.svg');
}

.icon-food-taco-svgrepo-com {
    mask-image: url('../../../public/icons/food-taco-svgrepo-com.svg');
    -webkit-mask-image: url('../../../public/icons/food-taco-svgrepo-com.svg');
}

.icon-food-wine-and-glass {
    mask-image: url('../../../public/icons/food-wine-and-glass.svg');
    -webkit-mask-image: url('../../../public/icons/food-wine-and-glass.svg');
}

.icon-libro-icon {
    mask-image: url('../../../public/icons/libro-icon.svg');
    -webkit-mask-image: url('../../../public/icons/libro-icon.svg');
}

.icon-spinner-cringe-base {
    mask-image: url('../../../public/icons/spinner-cringe-base.svg');
    -webkit-mask-image: url('../../../public/icons/spinner-cringe-base.svg');
}

.icon-spinner-for-normies {
    mask-image: url('../../../public/icons/spinner-for-normies.svg');
    -webkit-mask-image: url('../../../public/icons/spinner-for-normies.svg');
}