/* Основные цвета текста */
$text-primary: #1c2837;
$text-primary-light: #dcecff;
$text-secondary: #292929;
$text-white: #c1f4ff;
$text-gray: #96b0c7;

/* Оттенки серого */
$gray-dark: #444244;
$gray-medium: #acacac;
$gray-light: #999999;
$gray-disabled: #cccccc;

/* Синие оттенки (морская тематика) */
$blue: #078af4;
$blue-light: #2bd4fd;
$blue-dark: #0044b1;
$blue-deep: #022aad;
$blue-icon: #1361c7;
$blue-neutral: #746288;
$light-blue: #c2c5f0;
$lightest-blue: #e0e4f0;

/* Акцентные цвета */
$orange: #f7c68b;
$honey: #e8fdee;
$red-deep: #b319dd;
$red-deep-light: #c73f2d;
$red-vine: #d70206;
$red-light: #e54b5d;

/* Цвета фона */
$background-primary: #fafafa;
$background-secondary: #f1e0e8;
$block-secondary: #f1e0e8;
$button-hover: #faeef2;

/* Цвета для темной темы */
$dark-text-primary: #e0e0e0;
$dark-text-secondary: #b3b3b3;
$dark-background-primary: #121212;
$dark-background-secondary: #16192c;
$dark-accent: #3b3b3b;
$dark-accent-light: #5a5a5a;
$dark-border: #333333;
$footer-dark: #16192c;
