.marker-info {
    min-width: 260px;
    position: absolute;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;

    background: white;
    border: 1px solid black;
    border-radius: 8px;

    padding: 4px 8px;
}

.close-btn {
    position: absolute;
}