@use './styles/variables/colors';

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}
.div1 {
    margin-right: 5px;
    padding: 100px;
    border-color: colors.$orange;
    border-width: 3px;
    background-color: colors.$orange;
    height: 100vh;
    box-sizing: border-box;
}